GITHUB_CLIENT_ID="yourgithubclientidlieshere"
GITHUB_CLIENT_SECRET="yourgithubcliensecretlieshere"
LINKEDIN_CLIENT_ID="yourgithubclientidlieshere"
LINKEDIN_CLIENT_SECRET="yourlinkedinsecretlieshere"
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET="yourauthsecretlieshere"
JWT_SECRET="yourjwtlieshere"
DATABASE_URL="yourdatabaselieshere"
SHADOW_DATABASE_URL="yourshadowdatabaselieshere"
